@using EasyLearning.Domain.Entity;
@model Study

@{
    ViewBag.Title = "study";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        OnSuccess = "Completed",
        UpdateTargetId = "CommentBody",
        Url = Url.Action("AddComment"),
        HttpMethod = "POST",
    };
}

<section class="content-header">
    <h1>
        @Model.Name
    </h1>

</section>
<section class="content">
    <div class="row">
        <div class="jumbotron pad">
            <p class="text-danger">
                @Model.Summary
            </p>
            @if (Model.VideoName != null)
            {
                <p>
                    <video controls="controls">
                        <source src="@Url.Action("Video", new { id = Model.ID })" type="@Model.VideoType" />
                    </video>
                </p>
                <a class="btn btn-flat btn-primary" href="@Url.Action("Video", new { id = Model.ID })"><i class="fa fa-file-video-o fa-fw"></i>Download Video</a>
            }
            @if (Model.NoteName != null)
            {
                <a class="btn btn-flat btn-info" href="@Url.Action("Note", new { id = Model.ID })"><i class="fa fa-book fa-fw"></i>Download Note</a>
                <a class="btn btn-flat btn-success" href="@Url.Action("assignments", new{id = Model.ID})"><i class="fa fa-list fa-fw"></i>Assignments</a>
            }

        </div>
        <div class="col-md-offset-2 col-sm-offset-2 col-sm-8 col-md-8">
            <!-- DIRECT CHAT SUCCESS -->
            <div class="box box-info direct-chat direct-chat-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Comments Box</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" id="CommentBody">
                        @Html.Partial("comments", Model.Comments)
                    </div><!--/.direct-chat-messages-->
                    <!-- Contacts are loaded here -->
                    <!-- /.direct-chat-pane -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                    @*@using (Html.BeginForm("AddComment", "office", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("StudyID", Model.ID)
                            <div class="input-group">
                                <input type="text" name="Content" id="Content" placeholder="Type Message ..." class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success btn-flat">Send</button>
                                </span>
                            </div>
                        }*@

                    @using (Ajax.BeginForm(ajaxOpts))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("StudyID", Model.ID)
                        <div class="input-group">
                            <input type="text" name="Content" id="Content" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success btn-flat">Send</button>
                            </span>
                        </div>
                    }

                </div><!-- /.box-footer-->
            </div><!--/.direct-chat -->
        </div>
    </div>
</section>

@section scripts{
    @Scripts.Render("~/bundles/ajax")
    <script>
        function Completed(data) {
            $('#Content').val("");
        }
    </script>
}