<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="UTF-8">
    <title>EasyLearn App | @ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/admin")
    @RenderSection("Styles", false)

    <meta name="description" content="The description of my page" />
</head>

<body class="skin-blue">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index")" class="logo"><b>Admin</b></a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="@Url.Action("Image")" class="user-image" alt="User Image" />
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@*Alexander Pierce*@ @HttpContext.Current.User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="@Url.Action("Image")" class="img-circle" alt="User Image" />
                                    <p>
                                       @Html.GetFullName(User.Identity.Name)
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Logout", "Account", new { area = "" })" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Action("Image")" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>@Html.GetFullName(User.Identity.Name)</p>
                        <!-- Status -->
                    </div>
                </div>
                @*<!-- search form (Optional) -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..." />
                            <span class="input-group-btn">
                                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->*@
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="@(ViewBag.dashboard)">
                        <a href="@Url.Action("Index")">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-gavel"></i> <span>Colleges</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("colleges", new { id = "" })"><i class="ion ion-android-apps"></i>Colleges</a></li>
                            <li><a href="@Url.Action("add-college")"><i class="ion ion-android-add"></i>Add College</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Departments</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("departments", new { id = "" })"><i class="ion ion-alert"></i>Departments</a></li>
                            <li><a href="@Url.Action("add-department", new { id = "" })"><i class="ion ion-android-add"></i>Add Department</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-group"></i> <span>Lecturers</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("lecturers", new { id = "" })"><i class="ion ion-alert"></i>Lecturers</a></li>
                            <li><a href="@Url.Action("add-lecturer", new { id = "" })"><i class="ion ion-android-add"></i>Add Lecturer</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="ion ion-person"></i> <span>Students</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("students", new { id = "" })"><i class="ion ion-alert"></i>Students</a></li>
                            <li><a href="@Url.Action("add-student", new { id = "" })"><i class="ion ion-android-add"></i>Add Student</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-life-bouy"></i> <span>Courses</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("courses", new { id = "" })"><i class="ion ion-alert"></i>Courses</a></li>
                            <li><a href="@Url.Action("add-course", new { id = "" })"><i class="ion ion-android-add"></i>Add Course</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div><!-- /.content-wrapper -->
        <!-- Main Footer -->
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Scripts", required: false)
    <script src="~/dist/js/app.min.js"></script>
</body>
</html>