@model  EasyLearning.WebUI.Areas.adminsecured.Models.Dashboard
@{
    ViewBag.Title = "Dashboard";
}

<div>
    <section class="content-header">
        <h1>
            Dashboard
            <small>Welcome</small>
        </h1>
       
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="ion ion-ios-home"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text"><a href="@Url.Action("studies")">Studies</a></span>
                        <span class="info-box-number">@Model.NumberOfStudies</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="ion ion-ios-home"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text"><a href="@Url.Action("colleges")">Colleges</a></span>
                        <span class="info-box-number">@Model.NumberOfColleges</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div>
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-stats-bars"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text"><a href="@Url.Action("departments")">Departments</a></span>
                        <span class="info-box-number">@Model.NumberOfDepartment</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-android-people"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text"><a href="@Url.Action("lecturers")">Lecturers</a></span>
                        <span class="info-box-number">@Model.NumberOfLecturers</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div><!-- /.col -->
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text"><a href="@Url.Action("students")">Students</a></span>
                        <span class="info-box-number">@Model.NumberOfStudents</span>
                    </div><!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-bullseye"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text"><a href="@Url.Action("courses")">Courses</a></span>
                        <span class="info-box-number">@Model.NumberOfCourses</span>
                    </div><!-- /.info-box-content -->
                </div>
            </div>
        </div>

    </section><!-- /.content -->

</div>